trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'

- script: dotnet build --configuration Release
  displayName: 'Build the project'

- script: dotnet test --configuration Release --no-build --collect:"Code coverage"
  displayName: 'Run unit tests'